<div class="container p-4">
    <div class="row">
        <div class="col-md-6  mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/formularios/edit/{{formulario.id}}" method="POST">
                        <div class="form-group">
                            <input
                            type="Text"
                            name= "Nombredelproyecto"
                            class="form-control"                             
                            placeholder="Nombre del Proyecto"
                            value = "{{formulario.Nombredelproyecto}}"
                            />
                        </div>
                        <div class="form-group">
                            Inicio de periodo<input type="date" value="{{formulario.fechainicio}}" class="form-control" name="fechainicio">
                        </div>
                        <div class="form-group">
                            Termino de periodo <input type="date" value="{{formulario.fechatermino}}" class="form-control" name="fechatermino" >
                        </div>
                        <div class="from-group">
                            <input class="col-md-1" type="radio" name="radio" value="{{formulario.radio}}"> Opt1
                            <input class="col-md-1" type="radio" name="radio" value="{{formulario.radio}}"> Opt2
                            <input class="col-md-1" type="radio" name="radio" value="{{formulario.radio}}"> Opt3
                            
                        </div>
                        <div class="from-group">
                            <input type="Text" value="{{formulario.metrica1}}"class="form-control"name="metrica1" placeholder="Metricas 1">
                        </div>
                        <div class="from-group">
                            <input type="Text" value="{{formulario.metrica2}}" class="form-control"name="metrica2" placeholder="Metricas 2">
                        </div>
                        <div class="from-group">
                            <input type="Text" value="{{formulario.metrica3}}"class="form-control"name="metrica3" placeholder="Metricas 3">
                        </div>
                        <div class="form-group">
                            Seleccione la opcion
                            <select name="menu" >
                               <option value="1">Uno</option>
                                <option value="2">Dos</option>
                                <option value="3">Tres</option>
                                <option value="4">Cuatro</option>
                                <option value="5">Cinco</option>
                            </select>
                        </div>
                        <div class="from-group">
                            <input class="col-md-1" type="checkbox" name="checkbox" value="{{formulario.checkbox}}"> Opcion 1
                            <input class="col-md-1" type="checkbox" name="checkbox" value="{{formulario.checkbox}}"> Opcion 2
                        </div>
                        <div class="from-group">
                            <textarea class="form-control" name="descripcion" placeholder="Descripcion" rows="5">{{formulario.descripcion}}</textarea>
                        </div>
                        <div class="from-group">
                          <button class="btn btn-success btn-lg w-100">
                              Editar Plan
                          </button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>